nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: rgb(242, 234, 133);
}

nav .brand {
    display: flex;
    align-items: center;
}

nav .brand img {
    height: 59px;
    margin: 0 5px;
}

nav .brand a {
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    display: flex;
    margin-left: 700px;

}

nav ul li {
    list-style: none;
    margin: 0 10px;

}

nav ul li .navlink {
    text-decoration: none;
    color: rgb(5, 5, 5);
    padding: 5px;
    transition: .3s ease;
    position: relative;
    font-size: 25px;
}

nav ul li .navlink::after {
    content: '';
    width: 100%;
    height: 3px;
    background: rgb(24, 24, 24);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s ease-in-out;
}

nav ul li .navlink:hover::after {
    transform: scaleX(1);
}