.super {
    background-color: #e7e29a;
}

.main-content {
    color: rgb(13, 13, 13);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    margin-top: 200px;
    background-color: #a9bf5c;
    padding: 10px 70px;
}

.main-content h1 {
    font-size: 3rem;
}

.main-content p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.gradient-btn {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right,
            #25af18 0%,
            #8bde1e 51%,
            #d46917 100%);
    border-radius: 10px;
    background-size: 200% auto;
    transition: 0.3s ease-in-out;
    border: 2px solid #000;
}

.main-content .gradient-btn {
    width: 200px;
    height: 45px;
    margin-top: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-left: 539px;
}

.gradient-btn:hover {
    background-position: right center;
}

.about {
    padding: 2rem;
    text-align: center;
    margin-top: -90px;

}

.about>h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

.about-sub {
    display: flex;
    width: 1200px;
    height: 200%;
    margin: 1rem auto;
    text-align: left;
    background-color: #7bd4cd;
    padding: 3rem;
}

.about-sub>img {
    max-height: 250px;
    width: 250px;
    max-width: 100%;
    animation: animateimage 1s linear;
}

@keyframes animateimage {
    from {
        transform: translateY(-15px);
        opacity: 0.5;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.about-sub .sub-sub-about {
    padding: 1rem;
    animation: animatetext 0.5s linear;
}

@keyframes animatetext {
    from {
        transform: translateY(15px);
        opacity: 0.5;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.about-sub .sub-sub-about p {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

.subscribe {
    text-align: center;
    padding: 3rem 2rem 2rem 2rem;
    margin-top: -14px;
    padding-bottom: 4rem;
}

.subscribe-box {
    padding: 8px;
}

.subscribe-box input {
    max-width: 200px;
    width: 65%;
    padding: 7px 17px;
    height: 30px;
    border-radius: 10px;

}

.subscribe-box button {
    border: 1 px solid #000;
    border-radius: 10px;
    margin-left: 12px;
    background-image: linear-gradient(to right,
            #25af18 0%,
            #8bde1e 51%,
            #d46917 100%);
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    color: rgb(9, 9, 9);
}
